* {
  font-family: 'Open Sans', sans-serif;
}

body {
  height:100vh;
  display:flex; 
  flex-direction:column;
}

footer {
  min-height:50px;
  margin-top:auto; 
  text-align: center;
  font-size: 14px;
  padding-bottom: 10px;
}

h2 {
  word-break: break-all;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

#content {
  text-align: center;
  margin-top: 10%;
}

#heading {
  font-size: 19px;
}

#counter {
  font-size: 10rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 55px;
}

#go {
  font-size: 18px;
}
